body {
	font-family: "fira-sans", sans-serif;
	font-weight: 400;
}

#container {
	margin: auto;
	position: relative;
	width: 150px;
	height: 36px;
	background-image: -moz-element( #background-rail);
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 50%;
	cursor: pointer;
	/* 	border: 1px solid red; */
	background: slategrey;
	border-radius: 18px;
}

#knob {
	z-index: 2;
	cursor: grab;
	border: 1px solid black;
}
.knob {
	font-size: 0;
	height: 40px;
	width: 40px;
	position: absolute;
	top: -2px;
	left: 55px;
	transition: 0.5s ease;
	border-radius: 20px;
}

.ghost {
	z-index: 1;
	opacity: 0.2
}

.hey {
	z-index: 1;
	opacity: 0.4
}

.a {
	left: 5px;
	background: hsl(0, 0%, 100%);
}

.aub {
	left: 55px;
	background: hsl(0, 0%, 50%);
	background: linear-gradient( 90deg, hsl(0, 100%, 100%), hsl(0, 100%, 100%) 45%, hsl(0, 100%, 0%) 55%, hsl(0, 100%, 0%));
}

.b {
	left: 105px;
	background: hsl(0, 0%, 0%);
}
